@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

.topbar {
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.topbar>ion-icon {
    font-size: 40px;
}

.messageBox {
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    border: none;
    bottom: 0;
    left: 0;
    font-size: 18px;
    color: #000000;
    padding: 0 14px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.messageBox>ion-icon {
    font-size: 30px;
}

.messageBox input {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border: none;
    font-size: 18px;
    color: #000000;
}

::placeholder {
    color: #000000;
}

.content {
    margin: 106px 0;
}